@page
@using Microsoft.AspNetCore.Identity
@model IndexModel

@{
    ViewData["Title"] = "Order Management System";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Shop</h1>
    <br/>
    <p>
        <h6 class="display-5">our products</h6>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Stock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Price)
                </th>
                <th>
                    Company
                </th>
                <th></th>
                @if (User.IsInRole("admin"))
                {
                    <th></th>
                }
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Company[item.CompanyId].Name)
                    </td>
                    <td>
                        <a asp-page="/OrderManagement/Create" asp-route-id="@item.ProductId">Order</a>
                    </td>
                    
                        @if (User.IsInRole("admin"))
                        {
                        <th>
                                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                        </th>
                        }
                        
                    
                </tr>
            }
        </tbody>
    </table>
</div>
